@import url(./style.css);
.jcontainer {
    margin: 0;
    padding: 0;
}
h1 {
    color: #ffff;
    text-align: center;
    padding: 20px;
}
h2{
    color: #ffff;
    text-align: center;
    padding: 20px;
}
li{
    color: #ffff;
    text-align: left;
    padding: 20px;
}


p{
    color: #ffff;
    text-align: justify;
    padding: 20px;
    margin: 20px;
}

.container {
    color: #ffff;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.image-container {
    margin: 20px;
    display: flex;
    align-items: center; /* Ajout pour aligner verticalement */
  
}
img {
    border-radius: 5%;
    max-width: 1000px;
    height: auto;
    margin-right: 20px; /* Ajout pour espacer l'image et la description */
}
button{
    width: 40%;
    height: 6vh;
    margin: 30px;
    background-color: rgba(251, 251, 251, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(230, 230, 230);
    outline: none;
    font-size: 100%;
    font-weight: 700;
    border-radius: 50px;
    transition: 0.2s linear;
}

button:hover{
 scale: 1.1;
 color: rgb(255, 255, 255);
 border: 2px solid rgb(230, 230, 230);
 background-color: transparent;
 font-weight: 700;
 box-shadow: 0 0 40px rgb(255, 255, 255);
}