@import url(./style.css);

/* Réinitialisation de certains styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général de la galerie */
.projets {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

/* Style des éléments de la galerie */
.gallery-item {
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet au survol des images */
.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgb(255, 255, 255);
}

/* Style des images */
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 250px;
    object-fit: cover;
}

/* Titre et description */
.gallery-item h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #ffffff;
    
}

.gallery-item p {
    font-size: 0.9rem;
    color: #ffffff;
    margin-bottom: 10px;
}

