@import url(./reset.css);

h1{
position: absolute;
top: 30px;
left: 20px;
}
h3{
    font:  1rem sans-serif;
position: absolute;
    top: 20px;
    left: 20px;

}


.btn {

   display: flex;
   justify-content: center;
   align-items: center;
  text-align: center;
 
}

